<div class="py-10 container">
    @for (config of configData; let i = $index; track config){
      <app-input-slider
      [config]="config" 
      [labels]="textData[i]"
      />
    }
  </div>
  <div class="flex justify-center pb-3">
    <button class="bg-transparent 
    text-purple-500 
    font-semibold 
    hover:bg-purple-500 
    hover:text-white 
    py-1.5 px-12 
    border 
    border-purple-500 
    hover:border-transparent 
    rounded" (click)="getAllValues()">
    FIND LIFE
    </button>
</div>
