<div class="flex flex-col items-center justify-center m-10">
    <span class="text-3xl font-semibold m-5">Test</span>
    <input
    type="range"
    [min]="config.min"
    [max]="config.max"
    [step]="config.step"
    [value]="value()"
    (input)="updateValue($event)"
    class="slider-style"
    >

    <div class="flex flex-row justify-center mt-4">
    <label class="text-md mr-1">You Have Currently Selected </label>
    <label class="text-md font-semibold text-purple-400">{{label()}}</label>
    </div>
</div>