<header>
    <div class="flex">
        <div class="ml-auto">
            @if (isLoggedIn){
            <div class="">
                <button class="m-4" [matMenuTriggerFor]="menu">
                    <mat-icon class="!text-purple-300">account_circle</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <a [routerLink]="['/']" class="flex items-center hover:purple-500">
                        <button mat-menu-item>Home</button>
                    </a>
                    @if (userRole.toLowerCase() === "admin"){
                    <a [routerLink]="['/admin']" class="flex items-center hover:purple-500">
                        <button mat-menu-item>Dashboard</button>
                    </a>
                    }
                    @else{
                    <a [routerLink]="['/user']" class="flex items-center hover:purple-500">
                        <button mat-menu-item>Dashboard</button>
                    </a>
                    }
                    <button mat-menu-item (click)="logout()">Logout</button>
                </mat-menu>

            </div>
            }
            @else {
            <div class="flex">
                <a [routerLink]="['/login']" class="flex items-center hover:purple-500">
                    <mat-icon class="m-4">account_circle</mat-icon>
                </a>
            </div>
            }
        </div>
    </div>
</header>