<form [formGroup]="form">
    <div class="flex w-screen justify-center items-start space-x-4">
        <div class="flex flex-col justify-center items-center">
            <span class="text-sm pb-3 text-center"> Variable:</span>
            <select
                class="bg-stone-800 border border-stone-800 text-stone-300 text-sm rounded-lg p-2.5 mx-4 focus:ring-purple-500 focus:border-purple-500"
                type formControlName="variableFilter">
                <option value="r_s">R_S</option>
                <option value="f_p">F_p</option>
                <option value="n_e">N_e</option>
                <option value="f_l">F_l</option>
                <option value="f_i">F_i</option>
                <option value="f_c">F_c</option>
                <option value="l">L</option>
            </select>
        </div>
        <div class="flex flex-col justify-center items-center">
            <app-data-chart [chartData]="dataset" [chartTitle]="title"></app-data-chart>
            <span class="text-center">The current calculation is <b class="text-purple-500">{{calculation}}</b></span>
        </div>
        <div class="flex flex-col justify-center items-center">
            <span class="text-sm pb-3 text-center"> Filter:</span>
            <select
                class="bg-stone-800 border border-stone-800 text-stone-300  text-sm rounded-lg p-2.5 mx-4 focus:ring-purple-500 focus:border-purple-500"
                type formControlName="operationFilter">
                <option value="avg">Avg</option>
                <option value="min">Min</option>
                <option value="max">Max</option>
            </select>
        </div>
    </div>
    <div class="flex w-screen justify-center items-center mt-8">
        <ul>
            @for (data of userData; track data){
            <li class="my-4">
                <mat-accordion>
                    <mat-expansion-panel class="w-xl">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="text-sm"> Submission: </mat-panel-title>
                            <mat-panel-description class="text-sm">{{data.originID}}</mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="flex justify-center items-center">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="px-3 text-center"></th>
                                        <th class="px-3 text-center">Rₛ</th>
                                        <th class="px-3 text-center">Fₚ</th>
                                        <th class="px-3 text-center">Nₑ</th>
                                        <th class="px-3 text-center">Fₗ</th>
                                        <th class="px-3 text-center">Fᵢ</th>
                                        <th class="px-3 text-center">Fc</th>
                                        <th class="px-3 text-center">L</th>
                                        <th class="px-3 text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (item of data.submittedValues; track item; let i=$index){
                                    <tr class="py-2">
                                        <button mat-mini-fab (click)="edit(data.originID,data.submittedValues[i].id)" class="!bg-transparent !shadow-none">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <td class="px-3 text-center">{{ item.r_s }}</td>
                                        <td class="px-3 text-center">{{ item.f_p }}</td>
                                        <td class="px-3 text-center">{{ item.n_e }}</td>
                                        <td class="px-3 text-center">{{ item.f_l }}</td>
                                        <td class="px-3 text-center">{{ item.f_i }}</td>
                                        <td class="px-3 text-center">{{ item.f_c }}</td>
                                        <td class="px-3 text-center">{{ item.l }}</td>
                                        <button mat-mini-fab (click)="delete(data.originID,data.submittedValues[i].id)" class="!bg-transparent !shadow-none">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            }
        </ul>
    </div>
</form>